# Ungraded Lab: Jupyter Notebook Setup & Basics

## Overview 
Welcome to your first hands-on lab in Python and Jupyter Notebooks! You'll learn the fundamentals of Jupyter while working with real employee data. This lab will help you get comfortable with the basic operations you'll need throughout the course. While the exercises here use different examples than the screencast, you can refer back to "Getting Started with Jupyter Notebooks" at any point for guidance on the core techniques and operations.

## Learning Outcomes 

By the end of this lab, you will be able to:
- Navigate the Jupyter Notebook interface
- Create and format markdown cells
- Execute Python code in code cells
- Load and examine basic dataset information

## Dataset Information 
We'll be using <b>employee_insights.csv</b>, a dataset containing:
- Employee demographic information
- Department assignments
- Performance metrics
- Work experience details

## Activities

### Activity 1: Setting Up Your First Notebook

Understanding notebook basics and markdown formatting.

<b>Step 1:</b> Create Your Title. Create a new cell and add a title and subtitle for your notebook, using the following example as a guide: <br>
(The cell given below will not run, please feel free to copy the text to add to the cell you create.)

# Title of your notebook
## Add a subtitle

<b>Tip:</b> Use the cell type dropdown to select "Markdown".

<b>Step 2:</b> Practice Markdown. Create another cell and try creating bold and italic text, and bullet points, using the following example as a guide:<br>
(The cell given below will not run, please feel free to copy the text to add to the cell you create.)

**Bold text**
*Italic text*
- Bullet points

### Activity 2: Basic Python Operations
Let's write our first Python code.

<b>Step 1:</b> Variables and Printing

In [1]:
# Create your first variables
company_name = "TechCorp"
employee_count = 100

# Print them
print(f"Welcome to {company_name}!")
print(f"Welcome to {employee_count}!")

Welcome to TechCorp!
Welcome to 100!

<b>Step 2: Try It Yourself:</b> Add a new coding cell, then practice creating variables for:
- Department name
- Average salary
- Current year

<b>Tip:</b> Use the cell type dropdown to select "Code"

### Activity 3: Working with Data

Loading and examining our dataset.

<b>Step 1:</b> Import and load a dataset using pandas library

In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv('employee_insights.csv')

<b>Step 2:</b> Basic Exploration

In [3]:
# View first rows
display(df.head())

# Get basic information from the dataframe
df.info()

,employee_id,age,salary,promotion_eligible,last_training_date,department,work_experience,projects_completed,hours_worked_weekly,work_mode,last_promotion_date,satisfaction_score,overtime_hours
0,E0001,54.0,NaN,NaN,15/08/2023,HR,NaN,14.0,NaN,remote work,2022-05-10,NaN,8.4
1,E0002,NaN,$64761,N,15/08/2023,NaN,1 years,NaN,53.3,HYBRID,05-10-2022,NaN,8.1
2,E0003,54.0,NaN,N,15/08/2023,Marketing,8,6.0,32.6,Hybrid,10/05/2022,10.0,5.2
3,E0004,NaN,NaN,No,NaN,NaN,16,1.0,37.8,Remote,05-10-2022,5.0,NaN
4,E0005,29.0,$61486,Y,15/08/2023,NaN,NaN,1.0,53.3,Hybrid,2022-05-10,NaN,0.3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   employee_id          100 non-null    object
 1   age                  44 non-null     float64
 2   salary               63 non-null     object
 3   promotion_eligible   84 non-null     object
 4   last_training_date   71 non-null     object
 5   department           85 non-null     object
 6   work_experience      71 non-null     object
 7   projects_completed   48 non-null     float64
 8   hours_worked_weekly  67 non-null     float64
 9   work_mode            84 non-null     object
 10  last_promotion_date  74 non-null     object
 11  satisfaction_score   61 non-null     float64
 12  overtime_hours       70 non-null     float64
dtypes: float64(5), object(8)
memory usage: 10.3+ KB

<b>Test Your Work</b>
1. Run all cells in order
2. Verify markdown formatting appears correctly
3. Confirm dataset loads without errors
4. Check that all print statements work

## Success Checklist
- Created properly formatted markdown cells
- Successfully executed Python code cells
- Loaded the dataset correctly
- Completed all practice exercises

## Common Issues & Solutions 
- Problem: Cell shows code instead of formatting 
    - Solution: Check cell type is set to "Markdown"
- Problem: Dataset won't load 
    - Solution: Verify file is in correct directory

## Summary 
In this lab, you learned the essential basics of Jupyter Notebooks, including how to create and format markdown cells, execute Python code, and work with a real employee dataset through the Jupyter interface. You gained hands-on experience with fundamental operations like navigating between cells, running code, and examining basic dataset information, setting you up for success in future data analysis tasks.

### Key Points
- Jupyter combines code and documentation
- Markdown formats text
- Code cells run Python
- pandas loads data