# Graded Lab: Multi-Source Data Integration Challenge

## Overview 
Congratulations on reaching your first graded lab in this course! In this challenge, you'll apply the Python data manipulation skills you've learned throughout this module to solve a real-world business problem.
Meet MediTrack Health Solutions, a cutting-edge healthcare management company that will serve as your case study for this assessment. As a new data scientist on the MediTrack analytics team, you've been tasked with an important data integration project that will help improve their healthcare management platform.
## Your Challenge 
MediTrack currently maintains separate systems for:
- Electronic health records
- Billing transactions
- Patient visit histories

Your task is to build a data pipeline that will combine these sources, enabling seamless communication between healthcare providers, insurers, and patients. This integration will help MediTrack:
- Track patient visit patterns and associated costs
- Analyze insurance coverage effectiveness
- Identify billing efficiency opportunities
- Support data-driven decision-making for both clinical and financial teams

## Learning Outcomes 
By the end of this lab, you will demonstrate your ability to:
- Import and process multiple data formats (CSV and Excel)
- Apply data cleaning techniques to handle missing values and inconsistencies
- Merge datasets using appropriate join operations
- Create calculated fields for analysis
- Extract specific metrics for automated assessment

## Dataset Information
You'll work with two datasets from MediTrack's systems:
- <b>billing_graded_lab.xlsx:</b> Billing System Records
    - Payment status
    - Insurance coverage
    - Total charges
    - Patient payments
- <b>medical_visits_graded_lab.xlsx:</b> Visit Tracking System
    - Visit dates
    - Diagnoses
    - Treatments
    - Doctor fees

## Graded Challenges
### Graded Challenge 1: Data Import and Initial Inspection 

<b>Step 1:</b> Import Required Libraries

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

<b>Step 2:</b> Load Datasets
- Load <b>billing_graded_lab.xlsx</b> into a DataFrame, <b>billing_df</b>
- Load <b>medical_visits_graded_lab.xlsx</b> into a DataFrame, <b>medical_visits_df</b>
- Display the first few rows of each dataset

In [2]:
# Load the billing_graded_lab.xlsx file into biling_df dataframe and  medical_visits_graded_lab.xlsx file into medical_visits_df
billing_df = pd.read_excel("billing_graded_lab.xlsx")
medical_visits_df = pd.read_excel("medical_visits_graded_lab.xlsx")
# Display the first few rows of each dataset
display(billing_df.head())
display(medical_visits_df.head())

,bill_id,patient_id,bill_date,total_charge,insurance_coverage,patient_paid,payment_status
0,30000,1099,2025-03-24,4985.95,0.511140,2437.43,Paid
1,30001,1188,2023-03-30,3884.81,0.822006,691.47,Paid
2,30002,1119,2025-01-18,3830.25,0.507809,1885.21,Pending
3,30003,1404,2025-01-07,4780.69,0.832276,801.84,Denied
4,30004,1406,2024-04-11,4449.85,0.557642,1968.43,Paid

   visit_id  patient_id visit_date        diagnosis    treatment  doctor_fee
0     20000        1331 2023-01-01         COVID-19      Therapy      149.23
1     20001        1437 2023-01-02             None      Surgery      133.68
2     20002        1075 2023-01-03             None   Medication      477.87
3     20003        1173 2023-01-04  Routine Checkup      Therapy      144.45
4     20004        1046 2023-01-05         COVID-19  Vaccination      167.41

In [3]:
# Do not edit this cell, just run it. This cell contains test cases.

<b>Step 3:</b> Inspect Data Quality
- Check for missing values
- Review data types
- Examine date formats

In [4]:
# Inspect Data quality by getting a quick overview of data 
display(billing_df.isnull().sum())

display(medical_visits_df.isnull().sum())

# Take a look at dataframe information like Data types
billing_df.info()

medical_visits_df.info()

bill_id                0
patient_id             0
bill_date             25
total_charge           0
insurance_coverage     0
patient_paid           0
payment_status        25
dtype: int64

visit_id       0
patient_id     0
visit_date    60
diagnosis      0
treatment      0
doctor_fee     0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bill_id             500 non-null    int64
 1   patient_id          500 non-null    int64
 2   bill_date           475 non-null    datetime64[ns]
 3   total_charge        500 non-null    float64
 4   insurance_coverage  500 non-null    float64
 5   patient_paid        500 non-null    float64
 6   payment_status      475 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 27.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   visit_id    1200 non-null   int64
 1   patient_id  1200 non-null   int64
 2   visit_date  1140 non-null   datetime64[ns]
 3   diagnosis   1200 non-null   object
 4   treatment   1200 non-null   object
 5   doctor_fee  1200 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 56.4+ KB

<b>Tip:</b> Use info() and describe() methods to get a quick overview of your data

### Graded Challenge 2: Data Cleaning and Preprocessing 

<b>Step 1:</b> Handle Missing Values
- Fill missing payment_status with 'Pending' in <b>billing_df</b>
- Handle any missing dates in "bill_date" and "visit_date" columns appropriately

In [5]:
billing_df["payment_status"]

0         Paid
1         Paid
2      Pending
3       Denied
4         Paid
        ...
495        NaN
496     Denied
497    Pending
498     Denied
499    Pending
Name: payment_status, Length: 500, dtype: object

In [6]:
# Fill the missing values in the payment_status column of the billing_df dataFrame with 'Pending'
    
# Fill missing payment_status with 'Pending'
billing_df['payment_status'] = billing_df['payment_status'].fillna('Pending')

# Add a default date of '1970-01-01' to replace missing dates in both dataframes 
    
# Fill missing bill_date with a placeholder date (adjust if you have a better default)
billing_df['bill_date'] = billing_df['bill_date'].fillna(pd.to_datetime('1970-01-01'))

# Fill missing visit_date similarly
medical_visits_df['visit_date'] = medical_visits_df['visit_date'].fillna(pd.to_datetime('1970-01-01'))

In [7]:
# Do not edit this cell, just run it. This cell contains test cases.

<b>Step 2:</b> Standardize Date Formats
- Convert bill_date to datetime
- Convert visit_date to datetime
- Ensure consistent date formatting

In [8]:
# Convert bill_date and visit_date columns to datetime

# Ensure bill_date is in datetime format
billing_df['bill_date'] = pd.to_datetime(billing_df['bill_date'], errors='coerce')

# Ensure visit_date is in datetime format
medical_visits_df['visit_date'] = pd.to_datetime(medical_visits_df['visit_date'], errors='coerce')

In [9]:
# Do not edit this cell, just run it. This cell contains test cases.

<b>Step 3:</b> Validate Data Types
- Ensure numeric columns (total_charge, insurance_coverage, patient_paid) in billing_df are properly formatted

In [10]:
# Ensure numeric columns in billings_df contain numeric values 

# Coerce non-numeric values into NaN and convert to float
numeric_columns = ['total_charge', 'insurance_coverage', 'patient_paid']

# Apply conversion for each column
for col in numeric_columns:
    billing_df[col] = pd.to_numeric(billing_df[col], errors='coerce')

In [11]:
# Do not edit this cell, just run it. This cell contains test cases.

In [12]:
billing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bill_id             500 non-null    int64
 1   patient_id          500 non-null    int64
 2   bill_date           500 non-null    datetime64[ns]
 3   total_charge        500 non-null    float64
 4   insurance_coverage  500 non-null    float64
 5   patient_paid        500 non-null    float64
 6   payment_status      500 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 27.5+ KB

## Graded Challenge 3: Data Integration

<b>Step 1:</b> Prepare Join Keys
- Identify common fields between datasets

In [13]:
# Take a look at both datasets to identify the common fields 
display(billing_df.head())
display(medical_visits_df.head())

,bill_id,patient_id,bill_date,total_charge,insurance_coverage,patient_paid,payment_status
0,30000,1099,2025-03-24,4985.95,0.511140,2437.43,Paid
1,30001,1188,2023-03-30,3884.81,0.822006,691.47,Paid
2,30002,1119,2025-01-18,3830.25,0.507809,1885.21,Pending
3,30003,1404,2025-01-07,4780.69,0.832276,801.84,Denied
4,30004,1406,2024-04-11,4449.85,0.557642,1968.43,Paid

   visit_id  patient_id visit_date        diagnosis    treatment  doctor_fee
0     20000        1331 2023-01-01         COVID-19      Therapy      149.23
1     20001        1437 2023-01-02             None      Surgery      133.68
2     20002        1075 2023-01-03             None   Medication      477.87
3     20003        1173 2023-01-04  Routine Checkup      Therapy      144.45
4     20004        1046 2023-01-05         COVID-19  Vaccination      167.41

<b>Step 2:</b> Merge Datasets
- Join billing and visits data on appropriate keys
- Validate the merged dataset

In [14]:
# Merge the datasets using patient_id as the key into a dataframe called merged_df

# Merge datasets on patient_id (many-to-many expected)
merged_df = pd.merge(
    billing_df,
    medical_visits_df,
    on='patient_id',
    how='inner'  # You can also try 'outer', 'left', or 'right' depending on your goal
)

# üëÅÔ∏è View merged result
display(merged_df)

,bill_id,patient_id,bill_date,total_charge,insurance_coverage,patient_paid,payment_status,visit_id,visit_date,diagnosis,treatment,doctor_fee
0,30000,1099,2025-03-24,4985.95,0.511140,2437.43,Paid,20254,2023-09-12,Flu,Vaccination,231.04
1,30000,1099,2025-03-24,4985.95,0.511140,2437.43,Paid,20707,2024-12-08,Fracture,Surgery,384.03
2,30000,1099,2025-03-24,4985.95,0.511140,2437.43,Paid,20778,2025-02-17,None,Observation,111.75
3,30000,1099,2025-03-24,4985.95,0.511140,2437.43,Paid,20790,2025-03-01,None,Medication,334.35
4,30001,1188,2023-03-30,3884.81,0.822006,691.47,Paid,20070,2023-03-12,Fracture,Therapy,311.70
...,...,...,...,...,...,...,...,...,...,...,...,...
1195,30497,1452,2025-09-28,823.96,0.738652,215.34,Pending,20135,2023-05-16,Flu,Vaccination,482.95
1196,30497,1452,2025-09-28,823.96,0.738652,215.34,Pending,21001,2025-09-28,Routine Checkup,Observation,371.73
1197,30498,1023,2025-05-02,2197.80,0.534745,1022.54,Denied,20740,2025-01-10,Routine Checkup,Surgery,164.79
1198,30498,1023,2025-05-02,2197.80,0.534745,1022.54,Denied,20849,2025-04-29,Flu,Vaccination,489.24
1199,30499,1143,1970-01-01,1058.97,0.780685,232.25,Pending,20591,1970-01-01,Routine Checkup,Surgery,232.30

In [15]:
# Do not edit this cell, just run it. This cell contains test cases.

<b>Step 3:</b> Validate no data loss 
- Check for any data loss during merging

In [16]:
# üìä Original row counts
billing_rows = billing_df.shape[0]
visits_rows = medical_visits_df.shape[0]
merged_rows = merged_df.shape[0]

print(f"üîπ Billing rows: {billing_rows}")
print(f"üîπ Medical visits rows: {visits_rows}")
print(f"üîπ Merged rows: {merged_rows}")

# üßÆ Unique patient counts
billing_patients = billing_df['patient_id'].nunique()
visit_patients = medical_visits_df['patient_id'].nunique()
merged_patients = merged_df['patient_id'].nunique()

print(f"\nüë• Unique patients in billing: {billing_patients}")
print(f"üë• Unique patients in visits: {visit_patients}")
print(f"üë• Unique patients in merged: {merged_patients}")

üîπ Billing rows: 500
üîπ Medical visits rows: 1200
üîπ Merged rows: 1200

üë• Unique patients in billing: 500
üë• Unique patients in visits: 452
üë• Unique patients in merged: 452

In [17]:
# Do not edit this cell, just run it. This cell contains test cases.

## Graded Challenge 4: Analysis Pipeline

<b>Step 1:</b> Create the following calculated fields : 
- Calculate total_revenue 
- Determine average insurance coverage 
- Compute visit frequency metrics per patient

The output of the function should be a dictionary with the exact keys: 
- total_revenue (2 decimal places)
- avg_insurance_coverage (4 decimal places)
- patient_visit_frequency (2 decimal places)

In [18]:
def process_meditrack_data(merged_df):
    # Total revenue from patient payments
    total_revenue = round(merged_df['patient_paid'].sum(), 2)

    # Average insurance coverage
    avg_insurance_coverage = round(merged_df['insurance_coverage'].mean(), 4)

    # Visit frequency: total visits / unique patients
    total_visits = merged_df['visit_id'].nunique()
    total_patients = merged_df['patient_id'].nunique()
    patient_visit_frequency = round(total_visits / total_patients, 2)

    # Return result as dictionary
    return {
        'total_revenue': total_revenue,
        'avg_insurance_coverage': avg_insurance_coverage,
        'patient_visit_frequency': patient_visit_frequency
    }

# üéØ Execute and print the results
results = process_meditrack_data(merged_df)
print(results)

{'total_revenue': 915548.89, 'avg_insurance_coverage': 0.7071, 'patient_visit_frequency': 2.65}

In [19]:
# Do not edit this cell, just run it. This cell contains test cases.

<b>Step 2:</b>  Extract Key Metrics
- Generate summary statistics
- Calculate specific business metrics

In [20]:
# Generate summary statistics
summary_stats = merged_df.describe()
display(summary_stats)

,bill_id,patient_id,total_charge,insurance_coverage,patient_paid,visit_id,doctor_fee
count,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.0000
mean,30244.057500,1245.384167,2577.754450,0.707105,762.957408,20599.500000,270.4303
std,146.285687,144.374120,1415.158637,0.112843,544.030308,346.554469,130.4712
min,30000.000000,1000.000000,106.640000,0.501507,17.350000,20000.000000,50.2800
25%,30113.750000,1118.000000,1414.460000,0.605029,306.510000,20299.750000,157.3150
50%,30238.000000,1243.500000,2548.175000,0.719234,658.810000,20599.500000,269.7450
75%,30373.000000,1369.000000,3833.632500,0.804755,1076.200000,20899.250000,382.2425
max,30499.000000,1499.000000,4996.650000,0.898868,2437.430000,21199.000000,499.5700

## Verify Your Results 
Before submission, validate your analysis against these key checkpoints:
    
Your final output must be a dictionary with <b>Key:Value</b> pairs as follows: 
- total_revenue: $2,500,005 ‚Äì $3,193,305
- avg_insurance_coverage: 0 to 1
- patient_visit_frequency: less than 10

Data Quality Checks:
- Datetime format for all dates
- No missing values in critical columns
- Logical row count in merged dataset
- Valid numeric values in calculated fields

Output Format Requirements:
- Dictionary output with exact keys:
- total_revenue (2 decimal places)
- avg_insurance_coverage (4 decimal places)
- patient_visit_frequency (2 decimal places)

### Troubleshooting
If you encounter issues:
1. Data Import
    - Check file paths and names
    - Verify column presence
    - Confirm data types
2. Calculations
    - Review mathematical operations
    - Check null value handling
    - Verify aggregation methods
3. Formatting
    - Confirm proper round() function usage
    - Match dictionary key names exactly
    - Verify decimal place specifications

You can retry the lab as many times as needed until you get the correct results. Remember to run all cells in order and verify all outputs before submission!